/src/.phpunit.cache
/src/node_modules
/src/public/build
/src/public/hot
/src/public/storage
/src/.env
/src/.env.backup
/src/.env.production
/src/.phpactor.json
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/src/auth.json
/src/.fleet
.idea
/src/.nova
/src/.vscode
/src/.zed
/docker/db/data/
/docker/db/dsata/
/docker/redis/
/src/vendor/
/src/time_commit
/src/storage/
/src/bootstrap/cache/
/src/.ht.pass
/pass
